@use "./../utils" as *;

.button{
  padding: rem(4px) rem(16px);
  border-radius: rem(4px);
  height: rem(32px);
  font-size: rem(14px);
  border: 0;

  &--none {
    border: 0;
    background: transparent;
    padding: 0;
  }

  &--fill{
    background: $secondary-color;
    color: $white;
  }
}

.buttonWrapper{
  overflow: hidden;
}

.button--burger{
  position: relative;
  width: rem(32px);
  height: rem(32px);
  border: 0;

  &BarTop, &BarMiddle, &BarBottom{
    @include posLeft(0, 0);
    width: 100%;
    height: 20%;
    background: $white;
    border-radius: rem(8px);
    transition: all 300ms;
  }

  &BarTop{
    top: 0%;
  }

  &BarMiddle{
    $size: 50%;
    top: $size;
    transform: translateY(-$size);
  }

  &BarBottom{
    $size: 100%;
    top: $size;
    transform: translateY(-$size);
  }

  .is--active &BarTop{
    @include transRotate(0%, -50%, $rotate: 45);
  }
  .is--active &BarMiddle{
    @include transRotate(-120%, -50%);
  }
  .is--active &BarBottom{
    @include transRotate(0%, -50%, $rotate: -45);
  }
}