@use "./../utils" as *;


[class*="__title"]{
  @include flexbox(column, center);
  @include textHeading(18px);
  margin-bottom: $spacing-sm;
}

[class*="__summary"]{
  @include textStyle(14px);
}

.home{
  padding: rem(16px) rem(24px);

  [class*="__title"] {
    margin-bottom: rem(16px);
  }

  @include mobile{
    @include flexbox($d: column);
    gap: rem(16px);
  }

  @include desktop{
    @include boxSizeMax;
    @include gridbox;
    grid-template-areas: "news news news news news news news news news news news news"
    "book book book book favorite favorite favorite twitter twitter twitter twitter twitter"
    "book book book book . board board board board board board board";
    .news{
      grid-area: news;
    }
  
    .book{
      grid-area: book;
    }
  
    .board{
      grid-area: board;
    }
  
    .favorite{
      grid-area: favorite;
    }
  
    .twitter{
      grid-area: twitter;
    }
  }
}
