@use "./../utils" as *;


[class*="__title"]{
  @include flexbox(column, center);
  @include textHeading(18px);
  margin-bottom: $spacing-sm;
}

[class*="__summary"]{
  @include textStyle(14px);
  margin-top: rem(16px);
}

.home{
  @include boxSizeMax;
  padding: rem(16px) rem(24px);

  [class*="__title"] {
    margin-bottom: rem(16px);
  }

  @include mobile{
    @include flexbox($d: column);
    gap: rem(16px);
  }

  @include desktop{
    @include boxSizeMax;
    @include gridbox;
    grid-template-areas: "news news news news news news news news news news news news"
    "book book book book favorite favorite favorite twitter twitter twitter twitter twitter"
    "book book book book . board board board board board board board";
    .news{
      grid-area: news;
    }
  
    .book{
      grid-area: book;
    }
  
    .board{
      grid-area: board;
    }
  
    .favorite{
      grid-area: favorite;
    }
  
    .twitter{
      grid-area: twitter;
    }
  }
}

.iframeWrapper{
  @include responseIframe;
}

// .home > section, .home > article{
//   @include flexbox(column);
//   gap: rem(16px);
// }

.book {
  &__cover{
    width: 70%;
    @include autoMargin;
    text-align: center;
  }

  &__coverCaption{
    margin-top: rem(16px);
  }

  &__info{
    @include marginY(16px);
    dt:first-child{
      margin-right: rem(8px);
    }
    @include flexbox($j: center, $w: wrap);
    text-align: center;
    margin-top: rem(16px);
  }

  .ratingStar{
    width: 100%;
    text-align: center;
    font-size: rem(32px);
  }
}

.news {
  &__date{
    display: block;
    text-align: right;
    margin-top: rem(12px);
  }
}

.board {
  position: relative;

  &__item{
    @include flexbox;
    margin-top: rem(12px);
  }

  &__link{
    flex-grow: 1;
    @include textEllipsis;
  }

  &__more{
    @include posRight(0, 0);
    padding: rem(12px);
    transform: translateX(rem(12px));
  }
}

.favorite {
  &__item{
    margin-top: rem(12px);
  }
  
  @include mobile{
    &__link::after{
      content: attr(data-tooltip);
      color: $accent-favorite;
      margin-left: rem(12px);
      font-size: $text-sm;
    }
  }
}

.twitter {
  &__userInfo{
    display: inline-flex;
    gap: rem(12px);
  }

  &__userProfile{
    float: right;
    shape-outside: circle(50%);
    width: 20%;
    height: 110px;
    max-width: 110px;
    margin-left: rem(8px);
  }

  &__userProfileImage{
    border-radius: 50%;
    object-fit: cover;
  }

  &__date{
    display: block;
    margin-top: rem(12px);
  }
}
